/* app style */

main {
  width: 960px;
  margin-left: auto;
	margin-right: auto;
}

.header-left img {
  width: 60px;
  float: left;
}

.header-left div {
  float: left;
  display: block;
}

.logo-name {
margin-top: 0px;
margin-left: 10px;
margin-bottom: 0px;
}

.header-left div h1 {
  font-size: 30px;
  font-family: 'Damion', cursive;
}

.header-left div h2 {
  font-size: 15px;
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
}

.header-right {
  float: right;
  margin-top: 20px;
}

#pad-space {
  margin-left: 5px;
}

.header-img img{
  width: 960px;
  margin-top: 20px;
}

.above-left {
  float: left;
}

.above-left div h1 {
  font-family: 'Lalezar', cursive;
  font-size: 45px;
  margin: 0px
}

.above-left div h2 {
  font-size: 12px;
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
  margin-top: -10px;
  color: grey;
}


.above-right {
  float: right;
  margin-top: 50px;
}

.above-right img{
  width: 15px;
  float: left;
  margin-top: 13px;
  margin-right: 10px;
}

.above-right p {
  float: right;
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
  color: grey;
}

.main-image img {
  width: 960px;
  align-items: center;
  margin-top: 20px;
}

.content p {
  text-indent: 40px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'Crimson Text', serif;
  color: grey;
}
