/* app style */

main {
  width: 960px;
  margin-left: auto;
	margin-right: auto;
}

.header-left img {
  width: 60px;
  float: left;
}

.header-left div {
  float: left;
  display: block;
}

.logo-name {
margin-top: 0px;
margin-left: 10px;
margin-bottom: 0px;
}

.header-left div h1 {
  font-size: 30px;
  font-family: 'Damion', cursive;
}

.header-left div h2 {
  font-size: 15px;
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
}

.header-right {
  float: right;
  margin-top: 20px;
}

#pad-space {
  margin-left: 5px;
}

.header-img img{
  width: 960px;
  margin-top: 20px;
}

.above-left {
  float: left;
}

.above-right {
  float: right;
}

.above-right img{
  width: 20px;
}

.above-right p {
  float: right;
  margin-left: 10px
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
}

heath 
